<li>
	{{name}}

	<button class="switch-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}That was Delicious!{{else}}Lunchtime broseph!{{/if}}
	</button>
	{{!-- <button class="delete" data-id="{{id}}">
		DELETE </button> --}}
</li>
